.info-row {
    background-color:aliceblue;
    max-height: 60vh !important;
}

.cloud-image {
    max-height: 100%;
    width: 40vw;
}

.card-box {
    width: 10vw;
    height: 10vh;
    border-color: blue;
    border-width: 1px;
    margin: 20px;
}

.card-link {
    text-align: center;
    text-decoration: none;
    color:cornflowerblue;
}

.nav-link {
    color:cornflowerblue;
}

.dashboard-row {
    padding: 20px 5px 20px 5px
}

.dashboard-chart {
    padding: 5px;
    border-width: 0.5px;
    border-color: lightgrey;
    border-style: solid;
}